.container {
  margin-inline: auto;
  padding: 2rem;
  max-width: 1300px;
  min-width: 65%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  min-height: "90vh";
}

.gridContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr) !important;
  gap: 15px;
  row-gap: 15px;
  justify-content: center;
  padding-block: 1rem;
}

.link {
  text-decoration: none;
}

.card {
  border: 1px solid transparent;
  padding: 5px 10px;
  min-height: 100px;
  height: 100%;
  /* max-height: 200px; */

  border-radius: 5px;
  background-color: #cccccc15;
  box-shadow: 0 3px 4px 2px rgba(255, 254, 254, 0.227),
    0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  transition: all ease 0.2s;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
}
.card:hover {
  box-shadow: 0 3px 4px 2px rgba(31, 81, 255, 0.14),
    0 3px 3px -2px rgba(31, 81, 255, 0.328), 0 1px 8px 0 #1f50ff60;
  transform: translateY(1px);
}

.card:hover .cardIcon {
  outline-color: #fff;
  border-radius: 20%;
}

.card_title_wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.card_helper_text {
  font-size: 0.6em;
  padding: 0;
  /* color: #717070; */
  border: 1px solid #cccccc87;
  background-color: inherit;
  border-radius: 5px;
  padding: 1px 4px;
  /* word-break: break-all; */
}

.cardTitle {
  font-size: small;
  font-weight: 500;
  text-transform: uppercase;
  word-wrap: break-word;
  word-break: break-all;
}
.additional_card_title {
  font-size: 0.7rem;
  font-weight: 300;
  word-wrap: break-word;
  line-break: anywhere;
}

.card_body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 15px;
  width: 100%;
  height: 100%;
}

.cardIcon {
  width: 5rem;
  height: 5rem;

  outline: 1px solid #ccc;
  outline-offset: 2px;
  border-radius: 5%;

  background-color: #1f50ff11;
  padding: 0.5rem;
  transition: all ease 0.2s;
}

@media (min-width: 850px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .container {
    width: 90%;
  }
  .cardIcon {
    width: 4rem;
    height: 4rem;
  }
  .cardTitle {
    font-size: small;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 80%;
  }
}
@media (min-width: 1300px) {
  .gridContainer {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}
@media (min-width: 1650px) {
  .gridContainer {
    grid-template-columns: repeat(4, 1fr) !important;
  }
}
