.tool_element {
  transition: all ease 0.2s;
  display: grid;
  place-items: center;
  transform: scale(0.7);
  cursor: pointer;
  width: 5rem;
  border-radius: 10px;
}

.tool_element:hover {
  transform: scale(1);
}

/* .tool_element:hover .tooltext {
  display: none;
} */

.open_button {
  position: absolute;
  left: -30px;
  top: 90px;
  z-index: 200;
  cursor: pointer;
  height: 100px;
  width: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px 0 0 15px;
  border: 1px solid #ccc;
  border-right: none;
  user-select: none;
  transition: all 0.3s linear;
}
