.header_container {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  padding-inline: 10px;
  gap: 5px;
  width: 100%;
}
.flex_row {
  display: flex;
  column-gap: 10px;
  width: 100%;
}
.flex_column {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: 100%;
}

.header_title {
  font-size: smaller;
}

.header_column_container {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: 100%;
  padding: 8px;
  border: 1px solid #a7a6a6;
  transition: all 0.1s linear;
  position: relative;
  max-width: 50%;
  border-radius: 5px;
  overflow: hidden;
}
.header_column_container:hover {
  border: 1px solid rgba(0, 157, 255, 0.45);
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.add_row_btn,
.add_column_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  font-size: 0.7rem;
  height: 10px;
  background-color: #00f;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  opacity: 0.5;
  transition: all 0.1s ease-in-out;
  font-size: large;
}

.add_column_btn {
  height: 25px;
  min-width: 100px;
}

.remove_row_btn,
.remove_column_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  font-size: 0.7rem;
  background-color: #f00;
  cursor: pointer;
  border-radius: 3px;
  opacity: 0.1;
  transition: all 0.1s ease-in-out;
}
.remove_row_btn {
  width: 15px;
  height: 100%;
}

.remove_column_btn {
  height: 15px;
  width: 100%;
}
.remove_row_btn:hover {
  width: 25px;
  font-size: large;
}

.remove_row_btn:hover,
.remove_column_btn:hover,
.add_row_btn:hover,
.add_column_btn:hover {
  opacity: 1;
}

.imageInputWrapper {
  border: 1px solid #555;
  border-radius: 4px;
  position: relative;
  width: 100%;
  padding-block: 5px;
}
.imageInput {
  height: 100%;
  padding-left: 3rem;
  cursor: pointer;
  width: 100%;
}
.imageInput::file-selector-button {
  border: 1px solid red;
  height: 100%;
  display: none;
}
.imgBtn {
  position: absolute;
  display: grid;
  place-items: center;
  border-radius: 5px;
  top: 0;
  left: 0;
  bottom: 0;
  width: 2.5rem;
  height: 100%;
  /* padding-inline: 0.5rem; */
  cursor: pointer;
  pointer-events: none;
  transition: background-color 0.2s;
  overflow: hidden;
}
.imageInputWrapper:hover {
  border: 1px solid #000;
}
.imageInputWrapper:hover .imgBtn {
  background-color: #f2f1f1;
}
