/*? ================================================  */
/*! ENTITY CARD 
/*? ================================================ */

.card {
  position: relative;
  border: 1px solid transparent;
  padding: 1.05rem 1rem;
  border-radius: 5px;
  box-shadow: 0 3px 4px 2px rgba(255, 254, 254, 0.227),
    0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
}
.card:hover {
  box-shadow: 0 3px 4px 2px rgba(31, 81, 255, 0.14),
    0 3px 3px -2px rgba(31, 81, 255, 0.328), 0 1px 8px 0 #1f50ff60;
}
.createdBy,
.createdDate {
  display: block;
  font-size: 0.7rem;
  color: #555;
}
.cardTitle {
  padding-bottom: 0.5rem;
  font-size: large;
  font-weight: 500;
  text-transform: capitalize;
}
.cardSubtitle {
  font-size: medium;
  font-weight: 500;
}

.card_body {
  margin-right: 3rem;
}
.cardIcon {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 8px;
  right: 8px;
  outline: 1px solid #ccc;
  outline-offset: 2px;
  border-radius: 50%;
}

/*? ================================================  */
/*! FIELD GROUP
/*? ================================================ */

.fieldFromGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  row-gap: 8px;
  padding: 2.3rem 1rem 1rem 1rem;
  background-color: #eeeeee9b;
  border-radius: 5px;
  transition: all 0.2s;
  position: relative;
}

.closeBtn {
  position: absolute;
  right: 5px;
  top: 5px;
  display: grid;
  place-items: center;
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0.4;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.15s;
}
.closeBtn:hover {
  opacity: 1;
  background-color: rgba(255, 0, 0, 0.157);
}
.checkbox {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.checkboxWrapper {
  display: flex;
  row-gap: 8px;
  width: 18%;

  /* border: 1px solid red; */
}
.inputsWrapper {
  /* border: 1px solid red; */

  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 8px;
  width: 80%;

  align-items: flex-start;
}
