.skel_box {
  width: 100%;
}
.skel_skeleton {
  padding: 15px;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2),
    0 1px 8px 0 rgba(0, 0, 0, 0.12);
}
.skel_square {
  height: 80px;
  border-radius: 5px;
  background: rgba(130, 130, 130, 0.2);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(8%, rgba(130, 130, 130, 0.2)),
    color-stop(18%, rgba(130, 130, 130, 0.3)),
    color-stop(33%, rgba(130, 130, 130, 0.2))
  );
  background: linear-gradient(
    to right,
    rgba(130, 130, 130, 0.2) 8%,
    rgba(130, 130, 130, 0.3) 18%,
    rgba(130, 130, 130, 0.2) 33%
  );
  background-size: 800px 100px;
  animation: wave-squares 1.2s infinite ease-out;
}
.skel_line {
  height: 12px;
  margin-bottom: 6px;
  border-radius: 2px;
  background: rgba(130, 130, 130, 0.2);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(8%, rgba(130, 130, 130, 0.2)),
    color-stop(18%, rgba(130, 130, 130, 0.3)),
    color-stop(33%, rgba(130, 130, 130, 0.2))
  );
  background: linear-gradient(
    to right,
    rgba(130, 130, 130, 0.2) 8%,
    rgba(130, 130, 130, 0.3) 18%,
    rgba(130, 130, 130, 0.2) 33%
  );
  background-size: 800px 100px;
  animation: wave-lines 1.2s infinite ease-out;
}
.skel_skeleton_right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.skel_skeleton_left {
  flex: 2;
  padding-right: 15px;
}
.skel_flex1 {
  flex: 1;
}
.skel_flex2 {
  flex: 2;
}
.skel_skeleton .line:last-child {
  margin-bottom: 0;
}
.skel_h8 {
  height: 8px !important;
}
.skel_h10 {
  height: 10px !important;
}
.skel_h12 {
  height: 12px !important;
}
.skel_h15 {
  height: 15px !important;
}
.skel_h17 {
  height: 17px !important;
}
.skel_h20 {
  height: 20px !important;
}
.skel_h25 {
  height: 25px !important;
}
.skel_w25 {
  width: 25% !important;
}
.skel_w40 {
  width: 40% !important;
}
.skel_w50 {
  width: 50% !important;
}
.skel_w75 {
  width: 75% !important;
}
.skel_m10 {
  margin-bottom: 10px !important;
}
.skel_circle {
  border-radius: 50% !important;
  height: 80px !important;
  width: 80px;
}
@keyframes wave-lines {
  0% {
    background-position: -368px 0;
  }
  100% {
    background-position: 368px 0;
  }
}
@keyframes wave-squares {
  0% {
    background-position: -368px 0;
  }
  100% {
    background-position: 368px 0;
  }
}
