.utilbarContainer {
  display: flex;
  column-gap: 5px;
  padding-block: 1rem;
  padding-bottom: 2rem;
}

.searchbarWrapper {
  border: 1px solid #ccc;
  height: 2.5rem;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
}
.buttonWrapper {
  min-width: 8rem;
}
.button {
  height: 100%;
  width: 100%;
}
.searchbar {
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  padding-left: 2.5rem;
  border-radius: inherit;
}
.searchbar:focus,
.searchbar:focus:hover {
  border: 1px solid #1976d2;
}
.searchbar:hover {
  border: 1px solid #000;
}

.iconWrapper {
  display: flex;
  position: absolute;
  width: 2rem;
  height: 2rem;
  padding: 6px 8px;
}
