:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  /*!!! CUSTOM CSS VARIABLES START*/
  --table-border: #afadad8f;
  --t-data-font-size: 0.7em;
  --t-head-font-size: 0.85em;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: roboto, sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.page-header {
  padding: 2rem 3rem;
}

/* WORKFLOW Styles */

.react-flow__attribution {
  display: none;
}

.react-flow__node.selectable {
  outline-offset: 5px;
  outline: 2px solid transparent !important;
  border: 2px solid transparent !important;
}

.react-flow__node.selectable:focus {
  outline-offset: 5px;
  outline-color: rgb(0, 149, 255) !important;
  border-color: rgb(0, 149, 255) !important;
  border-radius: 0% !important;
}

.react-flow__node.selectable:focus div[data-handleid] {
  background-color: #1b192b;
  border-color: #fff !important;
  border-radius: 50% !important;
}

.react-flow__node.selectable:focus * {
  border-radius: 0;
  border: none;
  outline: none;
}

/* Scrollbar Styles */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
